.project_heading{
    display: flex;
    justify-content: space-evenly; 
    font-family: "Poppins-Bold";
    padding-left: 9rem; 
    padding-right: 7.5rem;
    margin: auto;
    
}
.project_heading{
    padding-top: 50px;
}
.project_main{
   padding-top: 10rem;
   margin-top: 30px;
}
.View_More{
    color: white;
    background-color: #EEBF63;
    width:10rem;
    height: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.View_More:hover{
    cursor: pointer;
}
.project_image{
    width: 100%;
    
}
.project_list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    margin: 50px;
    row-gap: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

.project_list h3{
    text-align: center;
}
.project_view a{
    padding-left: 10px; 
}
.project_view{
    padding-top: 10px;
}

.project_view,div{
    justify-content: space-between;
}
.ptitle{
    padding: 10px;
}
.project_view div p{
    margin: auto;
    margin-left: 10px;
}
.project_main{
    padding-top: 30px;
}
.project_view p{
    font-family: "Poppins-Medium";
}

.p_title{
    font-family: "Poppins-SemiBold"; 
}
.code_button{
    padding: 10px;
    background-color: #EEBF63;
    border-radius: 5px;
}
 
@media only screen and (max-width: 600px) {
    .project_list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
         column-gap: 50px;
         margin: 50px;
         row-gap: 20px;
         padding: 0px;
    }

    .project_heading{
        display: flex;
        justify-content: space-between; 
        font-family: "Poppins-Bold";
        padding-left: 1rem; 
        padding-right: 1rem;

        
    
    }
  }

 span{
    font-family: "Poppins-Medium";
    padding: 10px;

 }
 ul{
    font-family: "Poppins-Regular"; 
    padding-left: 20px;

 }
 .ptitle{
    font-family: "Poppins-Regular"; 

 }
 .more_infos{
     display: none;
 }
 