.contact_main{
    display: flex;
    justify-content: space-between;
    background-color: #90C0E8;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
}
.contact_form{
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
 .lets{
     padding-top: 15px;
 }
.btn_conect{
    background-color: #F5BF75;
    text-align: center;
     margin: auto;
     width: 10rem;
     height: 3rem;
     align-items: center;
     display: flex;
     justify-content: center;
     border-radius: 10px;
     font-family: "Poppins-Bold";
     color: white;
}

.contact_main h2{
    color: white;
    font-family: "Poppins-Bold";
    width: 80%;
    margin: auto;
    font-size:xx-large;
}

.contact_main input{
    width: 80%;
    outline: none;
    border: none;
    height: 3rem;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 20px;
    font-family: "Poppins-Regular";


}

.contact_main textarea{
    width: 80%;
    outline: none;
    border: none;
    height: 5rem;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 20px;
    font-family: "Poppins-Regular";
    padding-top: 10px;

}
.resume_btn{
    margin-top: 80px;
}
.email_btn{
    display: flex;
    float: right;
    margin-right: 1.5rem;
    margin-top: 20px;
    
}
@media only screen and (max-width: 600px) {
    .lets{
        display: none;
    }
   
  }