.poppins-bold{
    font-family: "Poppins-Bold";
}
.Menu{
    display: flex;
    justify-content: space-around; 
    text-align: center;
    height: 4rem;
    align-items: center; 
    margin-bottom: 3rem;
    background-color: #F1F1F1;
    
}
.menu_right span,a{
    overflow-y: hidden;
}

.Menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

h3{
    font-size: 22px;
}

h3:hover
{
    cursor: pointer;
}
.menu_right{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
span{
     font-family: "Poppins-Medium"; 
     font-size: 16px;
}

span:hover
{
    cursor: pointer;
}

.home{
    font-family: "Poppins-Bold";
    color:#EEBF63;  
}
.menu_right a:hover{
    color:#EEBF63;  
}
.contactmobile{
    display: none;
}

@media only screen and (max-width: 600px) {
    .Menu{
        display: flex;
        justify-content: space-around; 
        text-align: center;
        height: 4rem;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
    }
    .menu_right{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .contactmobile{
        display: block;
    }
    .web{
        display: none;
    }
  }