.work{
    background-color: #EEBF63;
    width: 80%;
    height: 200px;
    text-align: center;
    border-radius: 20px;  
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.working{
    color: white;
    width: 30%;
    font-family: "Poppins-SemiBold";  
    align-items: center;
    overflow: hidden;

}
.email_me2{
    background-color: white;
    height: 4rem;
    width: 12rem;
    color: black;
    overflow: hidden;
   
}
.email_me2 img{
    background-color: black;
}
.more_project2{
    border: 2px solid white;
    color: white;
    height: 4rem;
    width: 12rem;
    margin-left: 40px;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    
    .work{
        flex-direction: column;
    }
    .working{
        color: white;
        width: 80%;
        font-family: "Poppins-Regular";  
        align-items: center;
        overflow: hidden;
         font-size: small;
         
    }
    .contact_btn{
        justify-content: space-evenly;
    }

    .email_me{
        background-color: white;
        height: auto;
        width: auto;
        color: black;
         overflow: hidden;
         margin-left: 10px;
         font-size: small;
         padding: 2px;

       
    }
    .more_project{
        border: 2px solid white;
        color: white;
        height: auto;
         width: auto;
        margin-left: 40px;
        overflow: hidden;
        font-size: small;
        margin-right: 10px;
        padding: 2px;
    }
    .work_contact{
         overflow-y: hidden;
         padding-bottom: 20px;
         flex-direction: column;
    }
    .work{
        display: none;
    }
     
    
  }